<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/css/styleHome.css">
   
</head>
<body>

    <div class="container">
        <h1>Registro Actividades Talento Tech</h1>
        <br><br><br><br>

        <div class="buttons">
            <button onclick="location.href='actividades.html'"> Registro Actividades </button><br>
            <button onclick="location.href='register.html'"> Registro Usuarios </button><br>
            <button onclick="location.href='consulta.html'"> Consulta Actividades </button><br>
        </div>
    
        <div class="image-container">
            <img src="/static/img/material-oficina.jpg" width="400" height="400">
        </div>
    </div>  
   
</body>
</html>